* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clearfix:after{
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}
//歌单卡片样式
.card{
  background-color: rgba(0, 0, 0, .25);
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  width: 100%;
  margin: 8px 0;
  overflow: hidden;
  @card-title-line-height: 18px;
  @card-title-tb-margin: 16px;
  //新建播放列表按钮卡片
  &.card-create{
    padding-bottom: @card-title-line-height + @card-title-tb-margin * 2;
    position: relative;
    &:hover{
      i{
        color: #a2a2a2;
      }
    }
    i{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #5d7082;
      font-size: 80px;
    }
  }
  .name{
    color: #fff;
    font-size: 16px;
    padding: 0 20px 0 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    position: relative;
    margin: @card-title-tb-margin 0;
    line-height: @card-title-line-height;
    .actions{
      position: absolute;
      right: 5px;
      top: 0;
      opacity: 0;
      .icon-delete{
        color: #F56C6C;
      }
    }
  }
  &:hover{
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #454546;
    .figure{
      transform: scale(1.1);
      img{
        opacity: .6;
      }
      .btn-wrapper{
        opacity: 1;
      }
      .tags{
        .tag-item{
          transform: scale(0);
        }
      }
    }
    .name{
      .actions{
        opacity: 1;
      }
    }
  }
  .figure{
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    box-sizing: border-box;
    transform: scale(1);
    transition: transform .5s;
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .tags{
      z-index: 2;
      position: absolute;
      left: 0;
      bottom: 4px;
    }
    @btn-wrapper-size: 50px;
    .btn-wrapper{
      opacity: 0;
      position: absolute;
      width: @btn-wrapper-size;
      line-height: @btn-wrapper-size;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, .3);
      text-align: center;
      z-index: 3;
      i{
        font-size: 23px;
        color: #fff;
      }
    }
  }
}
// 标签列表样式
.tags {
  margin: 0;
  padding: 0;
  .tag-item {
    float: left;
    list-style: none;
    margin: 2px 3px;
    padding: 4px 8px;
    background-color: #fcdf35;
    border-radius: 13px;
    box-sizing: border-box;
    transform: scale(1);
    transition: transform .5s;
    a {
      color: #000;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      cursor: text;
    }
  }
}
//element ui 表格样式重置
.el-table, .el-table .i-table-header, .el-table .i-table-header th{
  background-color: transparent;
}
.el-table .i-table-header th{
  color: #fff;
  padding: 0;
}
.el-table .i-table-header th{
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
.el-table tbody tr{
  &:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.3);
  }
  &:nth-of-type(even){
    background-color: rgba(0, 0, 0, 0.1);
  }
  color: #fff;
  &:hover{
    td{
      background-color: transparent !important;
    }
  }
  td{
    border: none;
  }
}
.el-table::before{
  background-color: rgba(255, 255, 255, 0.3);
}
// elementUI dialog样式重置
.el-dialog__body{
  padding: 0;
}
// elementUI slider样式重置
.el-slider__bar{
  background-color: #fcdf35;
}
.el-slider__button{
  border-color: #fcdf35;
}

